{% extends "base.jinja2" %}
{% block content %}

{% for field in form %}

<form method="POST">
    <fieldset>
        {{ field.label }}
        {{ field }}
    </fieldset>
</form>
	
{% endfor %}
{% endblock %}