<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="../static/theme.css">
</head>
<body>
    <header>
        <h1>Our Badass Blog</h1>
        <nav>
            <ul>
                <li><a href="/" title="">HOME</a></li>
                <li><a href="/write">NEW POST</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
    By Selena and Munir
    </footer>
</body>
</html>
