<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="../static/theme.css">
</head>
<body>

      <aside>
        <ul>
        {% block body %}
            <li><a href="{{ request.route_url('login') }}">Log In</a></li>
            <li><a href="{{ request.route_url('logout') }}">Logout</a></li>
        {% endblock body %}
        </ul>
      </aside>

    <header>
        <h1>Munir's Blog</h1>
        <nav>
            <ul>
                <li><a href="/" title="Home">HOME</a></li>
                <li><a href="/write" title="New Post">NEW POST</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
    By Munir Ibrahim
    </footer>
</body>
</html>
