{% extends "base.jinja2" %}
{%block content%}
<h2>{{ entry.title }}</h2>
<h4>{{ entry.time }}</h4>
{{ entry.markdown_text | safe }}
<h5><a href='/{{ entry.id }}/edit'>Edit This Post</a></h5>
{%endblock content%}


