{% extends "base.jinja2" %}
{% block content %}
<ul>
    {% for entry in entries%}
    <li>
       <a href='/entry/{{ entry.id }}'>
        <h3>{{ entry.title }}:</h3>
        <p>{{ entry.created }}</p>
       </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
